body {background-color:#000033}
h3 {color: #FF3300}
span.online {color:green;}
span.offline {color:red;}
span.pingtime {font-size:10px; color:#FFFF00;}
span.md5 {font-size:12px; color:#33FF00;}
span.ConnErr {color:#FF0000;}
div.PingList {width:320px; padding:10px; border:5px solid gray; margin:auto;background-color:#303030;}
