<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<link rel="stylesheet", type="text/css", href="{{static_url("main.css")}}" />
<title>Tornado ping monitor</title>
</head>

<body>
<center><h3>.::Tornado Ping Monitor::.</h3></center>

<script type="text/javascript">

    function periodicalUpdate(){
        jQuery.ajax({
            url:"/ping",
            dataType:"json",
            success: function(data){
                if (null == data){
                    jQuery("#output").html("<span class=ConnErr>Data not avaliable!</span>");
                    return
                }
                htmlString = ''
                $.each(data[1], function(key, value){
                    (value.reply > 0) ? htmlString +='<span class=online>' + value.host + '</span><br>' : htmlString +='<span class=offline>' + value.host + '</span><br>' 
                })
                htmlString += '<span class="pingtime">' + data[0].pingtime + '</span>'
                jQuery("#output").html(htmlString);
                //jQuery("#output").html(data[0].pingtime);
            }
        });
    }

    jQuery('document').ready( function(){ 
        periodicalUpdate()
        var holdtheInterval = setInterval(periodicalUpdate, 5000);
    });
</script>

<div class="PingList" id="output" align="center">Initialization....</div>

</body>
</html>


